{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/desktop/group-user.css' %}">
    <style>
        :root{
            --primary-color: {{ user_theme.color1 }};
            --secondary-color: {{ user_theme.color2 }};
        }
    </style>
    <script src="{% static 'scripts/jquery-3.3.1.js' %}"></script>
    <title>Group User</title>
</head>
<body>
<script>
    let adds=[]
    let owner='{{ group.owner }}'
    function add_member(x){
        if(!adds.includes(x)){
            adds.push(x)
            document.getElementById(x).style.backgroundColor="#d5c9c9"
            document.getElementById(x).style.color="#423b3b"
        }
        else{
            adds.splice(adds.indexOf(x),1)
            document.getElementById(x).style.backgroundColor="#423b3b"
            document.getElementById(x).style.color="#FAEBD7FF"
        }
        if(adds.length>0)
            document.getElementById("friends-submit").style.display="block"
        else
            document.getElementById("friends-submit").style.display="none"
    }
    function open_friends_div(){
        document.getElementById('friends-div').style.display='block'
        document.getElementById('open-friends-div').style.display='none'
    }
    function close_friends_div(){
        document.getElementById('friends-div').style.display='none'
        document.getElementById('open-friends-div').style.display='block'
    }
</script>
<a href="{{ request.META.HTTP_REFERER }}" id="back"><img src="{% static 'images/back.svg' %}" width="30px"></a>
<a href="{% url 'home' %}" id="home"><img src="{% static 'images/home.svg' %}" width="30px" height="30px"></a>
<div id="group-div">
    <p>profile</p>
    <img src="{{ group.image.url }}" width="100px" height="100px" id="profile-image">
    <p id="name-p">Name:&nbsp&nbsp&nbsp{{ group.name }}</p>
    <p id="bio-p">Description:&nbsp&nbsp&nbsp{{ group.description }}</p>
    <div id="main-down">
        <form method="post" action="">
            {% csrf_token %}
            <button type="submit" class="hover" id="leave" name="leave">
                Leave The Group
            </button>
        </form>
        {% if group.is_public %}
            <button id="open-friends-div" class="hover" onclick="open_friends_div()">
                Add Friends
            </button>
        {% endif %}
    </div>


</div>
<div id="members-div">
    <div id="members-div-up">
        <p>members</p>
    </div>
    {% for member in members %}
        <div class="member" id="{{ member.username }}" onclick="manage_member('{{ member.username }}')"><img src="{{ member.image }}" width="50px" height="50px"><p>{{ member.username }}</p></div>
    {% endfor %}
</div>
<div id="friends-div" style="display:none;">
    <div id="friends-div-up">
        <button id="close-friends-div" class="hover" onclick="close_friends_div()">
            <img src="/static/images/x-{{ user_theme.name }}.svg" height="16px" width="16px">
        </button>
        <p>friends</p>
        <form method="post" id="friends-submit" style="display: none">
            {% csrf_token %}
            <input type="submit" value="add" class="hover">
        </form>
    </div>
    {% for friend in friends %}
        {% if friend.click %}
            <div class="friend hover" id="{{ friend.username }}" onclick="add_member('{{ friend.username }}')"><img src="{{ friend.image }}" width="50px" height="50px"><p>{{ friend.username }}</p></div>
        {% else %}
            <div class="friend hover" id="{{ friend.username }}"><img src="{{ friend.image }}" width="50px" height="50px"><p>{{ friend.username }}</p></div>
        {% endif %}
    {% endfor %}

    <script>
        $("#friends-submit").submit(function (e){
            $.ajax({
            type: 'POST',
            url: "{% url 'add_members' group.id %}",
            data: {csrfmiddlewaretoken:'{{ csrf_token }}',adds:adds.toString()},
            error:function (error){
                console.log(JSON.stringify(error))
            }
        })
        })
    </script>
</div>
</body>
</html>